@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Pacifico&display=swap');

$font-family-title: 'IBM Plex Sans Arabic';
$font-family-head: 'Pacifico';

body {
  margin:0;
  padding:0;
}